/* Timing function */
/* Fonts */
/* Colors */
.get-started button, .work button, .join button, .login button {
  min-height: 52px;
  padding: 18px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #4e5a65;
  font-family: "Inter", sans-serif;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 414px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 165px;
    padding-left: 165px;
  }
}

header {
  padding-top: 32px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #1d2830;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1.06px;
}

.logo-dot {
  color: #794cff;
}

.open-menu-btn {
  padding: 0;
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
}
.open-menu-btn span {
  display: block;
  margin-top: 6px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 8px;
}

.open-menu-btn-icon {
  width: 24px;
  height: 16px;
  fill: #35414b;
}

.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-menu.is-open {
  opacity: 1;
  pointer-events: initial;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 253px;
  min-height: 100vh;
  height: 100%;
  padding-top: 32px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-menu.is-open .menu-container {
  transform: translateX(0);
}

.close-menu-btn {
  align-self: flex-end;
  width: 24px;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
}

.close-menu-btn-icon {
  width: 24px;
  height: 24px;
  fill: #35414b;
}

.login {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login a {
  padding: 18px 18px 18px 0;
  color: #35414b;
  font-size: 16px;
  font-weight: 400;
}
.login a:hover {
  font-weight: 500;
}
.login button {
  background-color: #ece5ff;
  color: #7259fa;
}
.login button:hover {
  background-color: #794cff;
  color: #ffffff;
}

.menu-container ul {
  margin: 20px 0 0 0;
  padding: 0;
}

.menu-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #35414b;
  font-size: 16px;
  font-weight: 400;
}
.menu-link:hover {
  font-weight: 500;
}

.menu-link-icon {
  width: 8px;
  height: 5px;
  margin-left: 4px;
  fill: currentColor;
}

.hero {
  padding-top: 66px;
  padding-bottom: 56px;
}

.hero-container {
  text-align: center;
}

.price {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 21px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 100px;
  background-color: #f2f9eb;
  color: #35414b;
  font-weight: 400;
  font-size: 13px;
}

.price-icon {
  width: 5px;
  height: 8px;
  margin-left: 4px;
  fill: currentColor;
}

.team {
  margin: 16px 33px 0;
}
.team p {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
}
.team h1 {
  margin: 0;
  color: #35414b;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
}

.join {
  margin-top: 16px;
}
.join input {
  width: 100%;
  height: 52px;
  padding: 18px;
  border: 1px solid #e1e5ea;
  border-radius: 4px;
}
.join input::-moz-placeholder {
  text-align: center;
  color: #97a5b5;
}
.join input::placeholder {
  text-align: center;
  color: #97a5b5;
}
.join button {
  width: 100%;
  margin-top: 8px;
  background-color: #794cff;
  color: #ffffff;
}
.join button:hover {
  background-color: #ece5ff;
  color: #7259fa;
}

.graph {
  margin-top: 32px;
}
.graph img {
  margin: 0 auto;
}

.trusted {
  margin: 57px 33px 0;
}
.trusted h3 {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
}
.trusted h3 span {
  font-weight: 700;
}

.companies {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.companies li {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  padding-top: 32px;
  padding-bottom: 6px;
  border-top: 1px solid #f0ebfa;
  border-bottom: 1px solid #f0ebfa;
  background-color: #fbfafe;
}

.advantages-container {
  text-align: center;
}

.timeline {
  margin: 0 auto;
}

.advantages_list {
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 0;
}
.advantages_list li:not(:last-child) {
  border-bottom: 1px solid #f0ebfa;
}
.advantages_list h3 {
  margin: 0;
  color: #35414b;
  font-size: 18px;
  font-weight: 600;
}
.advantages_list p {
  margin: 0;
  padding-top: 10px;
  color: #4e5a65;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.advantages_link {
  position: relative;
  display: block;
  padding: 26px 38px;
  transition: background-color 1050ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages_link:hover {
  background-color: #f6f3fc;
}

.advantages_link-current {
  background-color: #f6f3fc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.advantages_link-current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-color: #794cff;
}

.work {
  padding-top: 56px;
  padding-bottom: 56px;
}
.work h2 {
  margin: 0;
  color: #35414b;
  font-size: 18px;
  font-weight: 600;
}
.work button {
  width: 100%;
  margin-top: 40px;
  padding: 18px;
  background-color: #ece5ff;
  color: #7259fa;
}
.work button:hover {
  background-color: #794cff;
  color: #ffffff;
}

.work-container {
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
}

.work_list {
  margin: 40px 0 0 0;
  padding: 0;
}
.work_list li:not(:first-child) {
  margin-top: 48px;
}
.work_list img {
  margin: 0 auto;
}
.work_list h3 {
  margin: 16px 0 0 0;
  color: #35414b;
  font-size: 18px;
  font-weight: 600;
}
.work_list p {
  margin: 8px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.adapt {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid #f0ebfa;
  border-bottom: 1px solid #f0ebfa;
  background-color: #fbfafe;
}
.adapt img {
  margin: 0 auto;
}

.adapt-container {
  text-align: center;
}

.get-started {
  margin: 32px 33px 0;
}
.get-started h2 {
  margin: 0;
  color: #35414b;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.get-started p {
  margin: 16px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.get-started button {
  width: 100%;
  margin-top: 16px;
  background-color: #796eff;
  color: #ffffff;
}
.get-started button:hover {
  background-color: #ece5ff;
  color: #7259fa;
}

.reviews {
  padding-top: 56px;
  padding-bottom: 56px;
}
.reviews img {
  margin: 0 auto;
}
.reviews h2 {
  margin: 0;
  color: #35414b;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.reviews-container {
  padding-left: 39px;
  padding-right: 39px;
  text-align: center;
}

.review_text {
  margin: 40px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
}

.customer {
  margin-top: 40px;
}
.customer h3 {
  margin: 9px 0 0 0;
  font-size: 13px;
  font-weight: 600;
}
.customer p {
  margin: 8px 0 0 0;
  font-size: 13px;
  font-weight: 400;
}

.app {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #796eff;
}
.app h3 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}
.app img {
  margin: 0 auto;
}

.app-container {
  padding-right: 46px;
  padding-left: 46px;
  text-align: center;
}

.app_download {
  margin-top: 32px;
}

.google-play {
  display: inline-block;
}

.app-store {
  display: inline-block;
  margin-top: 25px;
}

footer {
  margin-top: 56px;
  background-color: #1d2830;
}

.top-footer {
  padding-top: 48px;
  padding-bottom: 48px;
}
.top-footer h3 {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.footer-container {
  padding-right: 46px;
  padding-left: 46px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.list-icon {
  width: 16px;
  height: 8px;
  fill: #ffffff;
}

.footer_app img {
  margin-top: 16px;
}

.rights {
  margin: 0;
  padding: 32px 46px;
  color: #d9dbe1;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */