:root {
  --primary-text-color: #4e5a65;
  --secondary-text-color: #35414b;
  --tertiary-text-color: #ffffff;
  --primary-bg-color: #fbfafe;
  --secondary-bg-color: #794cff;
  --tertiary-bg-color: #796eff;
  --price-bg-color: #f2f9eb;
  --current-advantages-block-bg-color: #f6f3fc;
  --button-bg-color: #ece5ff;
  --footer-bg-color: #1d2830;
  --button-color: #7259fa;
  --logo-color: #1d2830;
  --input-border-color: #e1e5ea;
  --input-text-color: #97a5b5;
  --dividing-line-color: #f0ebfa;
  --footer-dividing-line-color: rgba(255, 255, 255, 0.1);
  --rights-color: #d9dbe1;
}

/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: "Inter", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 414px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Header */
header {
  padding-top: 32px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  color: var(--logo-color);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1.06px;
}
nav a span {
  color: var(--secondary-bg-color);
}
.menu span {
  display: block;
  margin-top: 6px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 8px;
}

/* Hero */
.hero {
  padding-top: 66px;
  padding-bottom: 56px;
}
.hero-container {
  text-align: center;
}
.price {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 21px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 100px;
  background-color: var(--price-bg-color);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 13px;
}
.price img {
  height: 6px;
  margin-left: 4px;
}
.team {
  margin: 16px 33px 0;
}
h1 {
  margin: 0;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
}
.team p {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
}
.join {
  margin-top: 16px;
}
.join input {
  width: 100%;
  height: 52px;
  padding: 18px;
  text-align: center;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  color: var(--input-text-color);
}
.join button {
  width: 100%;
  min-height: 52px;
  margin-top: 8px;
  padding: 18px;
  border: 0 transparent;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  color: var(--tertiary-text-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.join button:hover {
  background-color: var(--button-bg-color);
  color: var(--button-color);
}
.graph {
  margin-top: 32px;
}
.graph img {
  margin: 0 auto;
}
.trusted {
  margin: 57px 33px 0;
}
.trusted h3 {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
}
.trusted h3 span {
  font-weight: 700;
}
.companies {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.companies li {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Advantages */
.advantages {
  padding-top: 32px;
  padding-bottom: 6px;
  border-top: 1px solid var(--dividing-line-color);
  border-bottom: 1px solid var(--dividing-line-color);
  background-color: var(--primary-bg-color);
}
.advantages-container {
  text-align: center;
}
.timeline {
  margin: 0 auto;
}
.advantages_list {
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 0;
}
.advantages_list li:not(:last-child) {
  border-bottom: 1px solid var(--dividing-line-color);
}
.advantages_link {
  position: relative;
  display: block;
  padding: 26px 38px;
}
.advantages_link-current {
  background-color: var(--current-advantages-block-bg-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.advantages_link-current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-color: var(--secondary-bg-color);
}
.advantages_list h3 {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
}
.advantages_list p {
  margin: 0;
  padding-top: 10px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* Work */
.work {
  padding-top: 56px;
  padding-bottom: 56px;
}
.work-container {
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
}
.work h2 {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
}
.work_list {
  margin: 40px 0 0 0;
  padding: 0;
}
.work_list li:not(:first-child) {
  margin-top: 48px;
}
.work_list img {
  margin: 0 auto;
}
.work_list h3 {
  margin: 16px 0 0 0;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
}
.work_list p {
  margin: 8px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.work button {
  width: 100%;
  min-height: 52px;
  margin-top: 40px;
  padding: 18px;
  border: 0 transparent;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border: 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.work button:hover {
  background-color: var(--secondary-bg-color);
  color: var(--tertiary-text-color);
}

/* Adapt */
.adapt {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid var(--dividing-line-color);
  border-bottom: 1px solid var(--dividing-line-color);
  background-color: var(--primary-bg-color);
}
.adapt-container {
  text-align: center;
}
.adapt img {
  margin: 0 auto;
}
.get-started {
  margin: 32px 33px 0;
}
.get-started h2 {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.get-started p {
  margin: 16px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.get-started button {
  width: 100%;
  min-height: 52px;
  margin-top: 16px;
  padding: 18px;
  border: 0 transparent;
  border-radius: 4px;
  background-color: var(--tertiary-bg-color);
  color: var(--tertiary-text-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.get-started button:hover {
  background-color: var(--button-bg-color);
  color: var(--button-color);
}

/* Reviews */
.reviews {
  padding-top: 56px;
  padding-bottom: 56px;
}
.reviews-container {
  padding-left: 39px;
  padding-right: 39px;
  text-align: center;
}
.reviews img {
  margin: 0 auto;
}
.reviews h2 {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.review_text {
  margin: 40px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
}
.customer {
  margin-top: 40px;
}
.customer h3 {
  margin: 9px 0 0 0;
  font-size: 13px;
  font-weight: 600;
}
.customer p {
  margin: 8px 0 0 0;
  font-size: 13px;
  font-weight: 400;
}

/* App */
.app {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--tertiary-bg-color);
}
.app-container {
  padding-right: 46px;
  padding-left: 46px;
  text-align: center;
}
.app h3 {
  margin: 0;
  color: var(--tertiary-text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}
.app_download {
  margin-top: 32px;
}
.app img {
  margin: 0 auto;
}
.google-play {
  display: inline-block;
}
.app-store {
  display: inline-block;
  margin-top: 25px;
}

/* Footer */
footer {
  margin-top: 56px;
  background-color: var(--footer-bg-color);
}
.top-footer {
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-container {
  padding-right: 46px;
  padding-left: 46px;
}
.top-footer h3 {
  margin: 0;
  color: var(--tertiary-text-color);
  font-size: 16px;
  font-weight: 600;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.footer_app img {
  margin-top: 16px;
}
.rights {
  margin: 0;
  padding: 32px 46px;
  color: var(--rights-color);
  border-top: 1px solid var(--footer-dividing-line-color);
  font-size: 14px;
  font-weight: 400;
}
