/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  margin: 32px 15px 0px;
}
nav a {
  color: #1d2830;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1.06px;
}
nav a span {
  color: #794cff;
}
.menu span {
  display: block;
  margin-top: 6px;
  color: #4e5a65;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 8px;
}

/* Hero */
.hero {
  margin-top: 66px;
  margin-bottom: 56.72px;
  text-align: center;
  border-bottom: 1px solid #f0ebfa;
}
.price {
  margin: 0;
  padding: 4px 16px;
  background-color: #f2f9eb;
  border: 0;
  border-radius: 100px;

  color: #35414b;
  font-weight: 400;
  font-size: 13px;
}
.team {
  margin: 16px 48px 32px;
}
h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  color: #35414b;
}
.team p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #4e5a65;
}
.join {
  margin-top: 16px;
}
.join input {
  width: 100%;
  height: 52px;
  padding: 18px;
  text-align: center;
  color: #97a5b5;
  border: 1px solid #e1e5ea;
  border-radius: 4px;
}
.join button {
  width: 100%;
  height: 52px;
  margin-top: 8px;
  padding: 18px;
  font-weight: 500;
  font-size: 16px;
  background-color: #794cff;
  color: #ffffff;
  border: 0 transparent;
  border-radius: 4px;
}
.graph {
  margin: 32px auto 0;
}
.trusted {
  margin: 56.71px 48px 0;
}
.trusted h3 {
  margin: 0;
  color: #4e5a65;
  font-size: 11px;
  font-weight: 400;
}
.trusted h3 span {
  font-weight: 700;
}
.companies {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.companies li {
  display: flex;
  align-items: center;
}

/* Advantages */
