*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: $primary-text-color;
  font-family: $main-font;

  &.modal-open {
    overflow: hidden;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 414px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 1140px) {
    max-width: 1140px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-right: 165px;
    padding-left: 165px;
  }
}
