.hero {
  padding-top: 66px;
  padding-bottom: 56px;
}
.hero-container {
  text-align: center;
}
.price {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 21px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 100px;
  background-color: $price-bg-color;
  color: $secondary-text-color;
  font-weight: 400;
  font-size: 13px;
}
.price-icon {
  width: 5px;
  height: 8px;
  margin-left: 4px;
  fill: currentColor;
}
.team {
  margin: 16px 33px 0;

  p {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  h1 {
    margin: 0;
    color: $secondary-text-color;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
  }
}
.join {
  margin-top: 16px;

  input {
    width: 100%;
    height: 52px;
    padding: 18px;
    border: 1px solid $input-border-color;
    border-radius: 4px;

    &::placeholder {
      text-align: center;
      color: $input-text-color;
    }
  }
  button {
    @extend %button;
    width: 100%;
    margin-top: 8px;
    background-color: $secondary-bg-color;
    color: $tertiary-text-color;

    &:hover {
      background-color: $button-bg-color;
      color: $button-color;
    }
  }
}
.graph {
  margin-top: 32px;

  img {
    margin: 0 auto;
  }
}
.trusted {
  margin: 57px 33px 0;

  h3 {
    margin: 0;
    font-size: 11px;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }
}
.companies {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  li {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
