/* Timing function */
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
/* Fonts */
$main-font: "Inter", sans-serif;
$logo-font: "Josefin Sans", sans-serif;
/* Colors */
$primary-text-color: #4e5a65;
$secondary-text-color: #35414b;
$tertiary-text-color: #ffffff;
$primary-bg-color: #fbfafe;
$secondary-bg-color: #794cff;
$tertiary-bg-color: #796eff;
$backdrop-menu-color: rgba(0, 0, 0, 0.2);
$price-bg-color: #f2f9eb;
$current-advantages-block-bg-color: #f6f3fc;
$button-bg-color: #ece5ff;
$footer-bg-color: #1d2830;
$button-color: #7259fa;
$logo-color: #1d2830;
$input-border-color: #e1e5ea;
$input-text-color: #97a5b5;
$dividing-line-color: #f0ebfa;
$footer-dividing-line-color: rgba(255, 255, 255, 0.1);
$rights-color: #d9dbe1;
